<!-- SPINNER SECTION -->
<div id="spinner" class="gauge-loader">
  Loading…
</div>
<!-- END SPINNER SECTION -->

<!-- MAP SECTION -->
<div id="map-canvas"></div>

  <!-- MAP BOX SECTION -->  
  <div id="panel">
      <div class="row">
            <div class="col-md-4">
                <!-- NOISE TYPES -->

                <div class="dropup">
                  <button class="btn btn-lg btn-black dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Noise Types <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                  </ul>
              </div>

                 <!-- END NOISE TYPES -->  
            </div>
            <div class="col-md-8">
            
              <div id="slider"><label for="hour"><h6>Time of day (in hours):</h6></label><input type="text" id="hour" readonly></div>
            </div>        
      </div>  
  </div>
  <!-- MAP BOX SECTION -->

</div>
<!-- END MAP SECTION -->

<!-- OLD PANEL SECTION -->
    <div id = "desc"></div>
<!-- END OLD PANEL SECTION -->

         <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">About dB NYC</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">A Noise map of New York City <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>311 Noise Complaints</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    <div class="col-md-4 mb-30">
                        <img src="assets/ear_plug.png" alt="" />
                    </div>
                    <div class="col-md-4 mb-30">
                        <h4>Our Algorithym</h4>
                        <div class="spacer-15"></div>
                        <p>NYC Noise Map takes input from several sources to generate a weighted algorithym to assess the volume of the metropolis.</p>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur?</p>
                    </div>

                    <!-- Skills -->
                    <div class="col-md-4">
                        <div class="skillbar" data-percent="55%">
                            <div class="skillbar-title">311 noise complaints</div>
                            <div class="skill-bar-percent">55%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="80%">
                            <div class="skillbar-title">Ambulance traffic</div>
                            <div class="skill-bar-percent">80%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="40%">
                            <div class="skillbar-title">Foursquare check-ins</div>
                            <div class="skill-bar-percent">40%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="70%">
                            <div class="skillbar-title">Yelp reviews</div>
                            <div class="skill-bar-percent">70%</div>
                            <div class="skillbar-bar"></div>
                        </div>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
        </section>
        <!-- End About Section-->

        <hr />

        <!-- Team -->
        <section class="ptb ptb-sm-80">
            <div class="container text-center">
                <h3>Meet The Team</h3>
                <div class="spacer-60"></div>

                <!--Team Carousel -->
                <div class="row">
                    <div class="owl-carousel team-carousel nf-carousel-theme">

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/walter.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>WALTER BELLER-MORALES</h5>
                                            <ul class="social">
                                                <li><a href="https://github.com/walterbm" target="_blank"><i class="fa fa-github"></i></a></li>
                                                <li><a href="http://www.walterbellermoral.es/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>WALTER BELLER-MORALES</h5>
                                    <p class="">Developer</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/liz.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>ELIZABETH LOVERO</h5>
                                            <ul class="social">
                                                <li><a href="https://github.com/lizlove" target="_blank"><i class="fa fa-github"></i></a></li>
                                                <li><a href="http://www.elizabethlovero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>ELIZABETH LOVERO</h5>
                                    <p class="">Developer</p>
                                </div>
                            </div>
                        </div>



                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/heather.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Heather Petrow</h5>
                                            <ul class="social">
                                                <li><a href="https://github.com/hpetrow" target="_blank"><i class="fa fa-github"></i></a></li>
                                                <li><a href="https://twitter.com/hpetrow" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Heather Petrow</h5>
                                    <p class="">Developer</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Team Carousel --->
            </div>
        </section>
        <!-- End Team -->

        <!-- Action Box Section -->
        <section id="action-box" class="dark-bg ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <h4 class="">Interested in more New York City facts and figures?</h4>

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a class="btn btn-md btn-white float-none-xs">Open Data NYC</a>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Action Box Section -->

<script>

  $(function() {

    function dropdownLabels() {
      $('.dropdown-menu').append('<li>' + 'All Data' + '</li>');
      <% @complaint_types.each do |type| %>
        $('.dropdown-menu').append('<li>' + '<%= type %>' + '</li>');
      <% end %>
    }

    dropdownLabels();

    $.ajax({
            url: '/initialize',
            method: 'GET',
            data: {descriptor: "All_Data"},
            dataType: 'script'
        });

    });
    
</script>
