<div class="container">
  <label for="hour" style="font-size:16pt;">Time of day (in hourly increments):</label>
  <input type="text" id="hour" readonly style="border:0; color:#f6931f; font-size:18pt; font-weight:bold;">
</div>

<div id="slider"></div>

<div id="map-canvas"></div>

<div id="panel">
  <div class="dropup">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Noise Complaint Type
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    </ul>
  </div>
  <div id = "desc"></div>
</div>

<script>
  google.maps.event.addDomListener(window, 'load', initialize);

  function dropdownLabels() {
    $('#panel > .dropup > ul').append('<li>' + 'All Data' + '</li>');
    <% @complaint_types.each do |type| %>
      $('#panel > .dropup > ul').append('<li>' + '<%= type %>' + '</li>');
    <% end %>
  }

  function initData() {
    var hour, data, pointArray;
    var noise_per_hour = {};

    <% @all_twenty_four.each.with_index do |h, index| %>
      hour = <%= index %>;
      data = [];

      <% h.each do |noise| %>
        data.push(new google.maps.LatLng(<%= noise.latitude.to_f %>, <%= noise.longitude.to_f %>));
      <% end %>

      pointArray = new google.maps.MVCArray(data);
      noise_per_hour[hour] = new google.maps.visualization.HeatmapLayer({
        data: pointArray,
        opacity: .9,
        radius: 25
      });
    <% end %>
    type_layers['All Data'] = noise_per_hour;
  }

  function initialize() {
    map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

    dropdownLabels();
    initData();

    heatmap = type_layers[current_type][12];

    heatmap.setMap(map);
  }
</script>
