
<!-- MAP SECTION -->
<div id="map-canvas"></div>

<div id="panel">
    <div id="slider"></div>
    <label for="hour" style="font-size:16pt;">Time of day (in hourly increments):</label>
    <input type="text" id="hour" readonly style="border:0; color:#f6931f; font-size:18pt; font-weight:bold;">
</div>
<!-- END MAP SECTION -->

<!-- OLD PANEL SECTION -->

<div id="panel">
    <div class="dropup">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Noise Complaint Type
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
      </ul>
    </div>
    <div id = "desc"></div>
  </div>

<!-- END OLD PANEL SECTION -->

 <!-- Team Slider Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <h3>Team Slider</h3>
                </div>
                <div class="spacer-60"></div>
                <div class="row">
                    <!-- Team Slider -->
                    <div class="owl-carousel team-carousel nf-carousel-theme">

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/walter.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>WALTER BELLER-MORALES</h5>
                                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>WALTER BELLER-MORALES</h5>
                                    <p class="">Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/liz.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>ELIZABETH LOVERO</h5>
                                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>ELIZABETH LOVERO</h5>
                                    <p class="">Artist</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="assets/heather.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>HEATHER PETROW</h5>
                                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>HEATHER PETROW</h5>
                                    <p class="">Project Manager</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Team Slider -->
                </div>
            </div>
        </section>
        <!-- End Team Slider Section -->



<script>
  $(function() {
    google.maps.event.addDomListener(window, 'load', initialize);

    function dropdownLabels() {
      $('#panel > .dropup > ul').append('<li>' + 'All Data' + '</li>');
      <% @complaint_types.each do |type| %>
        $('#panel > .dropup > ul').append('<li>' + '<%= type %>' + '</li>');
      <% end %>
    }

    function initData() {
      var hour, data, pointArray;
      var noise_per_hour = {};

      <% @all_twenty_four.each.with_index do |h, index| %>
        hour = <%= index %>;
        data = [];

        <% h.each do |noise| %>
          data.push(new google.maps.LatLng(<%= noise.latitude.to_f %>, <%= noise.longitude.to_f %>));
        <% end %>

        pointArray = new google.maps.MVCArray(data);
        noise_per_hour[hour] = new google.maps.visualization.HeatmapLayer({
          data: pointArray,
          opacity: .9,
          radius: 25
        });
      <% end %>
      type_layers['All Data'] = noise_per_hour;
    }

    function initialize() {
      map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

      dropdownLabels();
      initData();

      heatmap = type_layers[current_type][12];

      heatmap.setMap(map);
    }
  });
</script>
