html, body, #map-canvas {
  height: 90%;
  margin: 0;
  padding: 0;
}



#panel {
  position: relative;
  top: -100px;
  margin-left: 20px;
  z-index: 5;
  padding: 5px;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}
